
.middle {
    width: 50%;
    margin-left:5rem;
    border: 2px solid #48789b;
    border-radius: 10px;
    padding: 2rem;
}
.main {
    display:flex;
    height: 80vh;
  
}
.main2 {
    display: flex;
    flex-direction:row;
}
.nav-item .nav-link{
    cursor:pointer;
}
.Productheading {
    font-size: 3rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
}
.byn img{
height:47rem;
}
table {
    position: absolute;
    left: 8px;
    width: 65%;
    border-radius: 10px;
    margin-top: 3rem;
    border-top: 2px solid #857e7e;
    margin-top: 6rem;
}
.table2 {
    margin:auto;
    width: 90%;
    border-radius: 10px;
    border-top: 2px solid #857e7e;
    margin-top: 6rem;
}

table tr .picture {
    width: 12rem;
}
    table tr td {
        border-top: 2px solid #cbcbd1;
        height: 3rem;
        margin-top: 1rem;
    }
table tr  {
        padding-top:7px;
        padding-bottom:7px
    }
table tr .delete a {
        text-decoration: none;
        background-color: tomato;
        color: white;
        display: flex;
        width: 6rem;
        justify-content: center;
        border-radius: 9px;
        height: 2.5rem;
        align-items: center;
    }
    table tr .delete a:hover {
        background-color: white;
        color: black;
        border: 2px solid tomato;
    }
table tr .delete  {
         width:7rem;
    }
table tr .edit a {
        text-decoration: none;
        background-color: blue;
        color: white;
        display: flex;
        width: 6rem;
        justify-content: center;
        border-radius: 9px;
        height: 2.5rem;
        align-items: center;
    }
    table tr .edit a:hover {
        background-color: white;
        color: black;
        border: 2px solid blue;
    }
table tr .edit  {
         width:11rem;
    }
.edit{
    width:4rem;
}
.delete{
    width:4rem;
}
.btnn {
    display: flex;
    margin: auto;
    width: 50%;
    border: 1px solid white;
    border-radius: 2rem;
    justify-content: center;
    height: 2.8rem;
    align-items: center;
    margin-top: 2rem;
    background-color: #48789b;
    color:white;
}
    .btnn:hover {
        transition:.5s;
        width: 53%;
        height: 3rem;
    }
.navbar{
    height:4.5rem;
}
.logout{
    border:2px solid white;
    margin-left:2rem;
}
.quantity{
    width:13rem;
    font-weight:bold;
    padding-left:2rem;
}

.maini {
    display: flex;
    padding: 1rem 0;
}

.Contain {
    display: flex;
    height: 3rem;
}

    .Contain #minus {
        background-color: tomato;
        color: white;
        padding: 1rem;
        width: 3rem;
        border: none;
        border-radius: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        cursor:pointer;
    }

        .Contain #minus:hover {
            box-shadow: 5px 10px 10px #ccc;
        }

    .Contain input {
        padding: 0.7rem;
        width: 5rem;
        font: 400 1.3rem "Roboto";
        border: none;
        text-align: center;
        border-radius: 9px;
    }
    .Contain #plus {
        background-color: tomato;
        color: white;
        padding: 1rem;
        width: 3rem;
        border: none;
        border-radius: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        cursor:pointer;
    }

        .Contain #plus:hover {
            box-shadow: 5px 10px 10px #ccc;
        }

    .Contain input {
        padding: 0.7rem;
        width: 5rem;
        font: 400 1.3rem "Roboto";
        border: none;
        text-align: center;
        border-radius: 9px;
    }
.qqty {
    font-weight: bold;
    margin-top: 11px;
    margin-right: 24px;
}
#qtyshow {
    padding-left: 2rem;
}
.tot{
    display:flex;

}
.total {
    font-weight: bold;
    margin-top: 17px;
    margin-right: 117px
}
#multi {
    border: none;
    font-weight: bold;
}
.payNow {
    background-color: tomato;
    border: 1px solid white;
    width:10rem;
    height: 2.8rem;
    color: white;
    border-radius: 0.7rem;
    font-weight: bold;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
   
}
    .payNow:hover {
        background-color: white;
        border: 2px solid tomato;
        color: tomato;
    }
.Installment {
    background-color: tomato;
    border: 1px solid white;
    width: 11rem;
    height: 2.8rem;
    color: white;
    border-radius: 0.7rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 4rem;
}
    .Installment:hover {
        background-color: white;
        border: 2px solid tomato;
        color:tomato;
    }
.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1px;
}
.namee {
    width: 8rem;
    font-weight: bold;
    padding-left: 1rem;
}

.header {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    margin-top: 10px;
    margin-left: 3rem;
}

.navbar {
    background-color: #48789b;
    height: 5rem;
}

.navbar-nav {
    margin-left: 20rem;
}

    .navbar-nav .nav-item {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0px 2rem 0px 2rem;
    }
.dfd {
    border: none;
    font-weight: bold;
}
.delivery img{
    position:absolute;
    right:0;
    top:9rem;
}
.logo {
    width: 80px;
    margin-top: 10px;
    margin-left: 3rem;
}

.navbar {
    background-color: #48789b;
    height: 5rem;
}

.navbar-nav {
    margin-left: 20rem;
}

    .navbar-nav .nav-item {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0px 2rem 0px 2rem;
    }

#produ {
    border-radius: 12px;
}


#home {
    display: flex;
    width: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    height: 2rem;
}

    #home:hover {
        background-color: white;
        color: #3b3bbd;
        border: 2px solid white;
        display: flex;
        width: 4rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 8px;
        height: 2rem;
    }

#productss {
    display: flex;
    width: 6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    height: 2rem;
}

    #productss:hover {
        background-color: white;
        color: #3b3bbd;
        border: 2px solid white;
        display: flex;
        width: 6rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 8px;
        height: 2rem;
    }

#instres {
    display: flex;
    width: 11rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    height: 2rem;
}

    #instres:hover {
        background-color: white;
        color: #3b3bbd;
        border: 2px solid white;
        display: flex;
        width: 11rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 8px;
        height: 2rem;
    }


.btnlogout {
    height: 2.3rem;
    width: 5rem;
    border: 2px solid white;
    background-color: #48789b;
    color: white;
    text-decoration: none;
    border-radius: 9px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .btnlogout:hover {
        transition: .5s;
        height: 2.5rem;
        width: 5.3rem;
        color: #48789b;
        background-color: white;
    }  
    .logout{
        border:none;
    }
.descriptionss {
    width: 30rem;
    padding-left: 2rem;
}