
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.containerr {
    max-width: 1255px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    margin-top: 6rem;
    height: 36rem;
    padding: 4rem;
    border-radius: 1.4rem;
    background-color: #f0f6fd;
}
    .containerr:hover {
        transition: .5s ease-in-out;
        box-shadow: 5px 10px 10px 5px #ccc;
        max-width: 1300px;
        height: 36.5rem;
    }
/* Columns */
.left-column {
    width: 65%;
    position: relative;
    left:9rem;
}

.right-column {
    width: 35%;
    margin-top: 60px;
    position:relative;
    right:10rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
/* Left Column */
.left-column img {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: all 0.3s ease;
    height:100%;
    border-radius:1rem;
}

    .left-column img.active {
        opacity: 1;
    }
/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

    .product-description span {
        font-size: 12px;
        color: #358ED7;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .product-description h1 {
        font-weight: 300;
        font-size: 52px;
        color: #43484D;
        letter-spacing: -2px;
    }

    .product-description p {
        font-size: 16px;
        font-weight: 300;
        color: #86939E;
        line-height: 24px;
    }
/* Product Color */
.product-color {
    margin-bottom: 30px;
}

.color-choose div {
    display: inline-block;
}

.color-choose input[type=&amp;quot;radio&amp;quot;] {
    display: none;
}

    .color-choose input[type=&amp;quot;radio&amp;quot;] + label span {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
    }

    .color-choose input[type=&amp;quot;radio&amp;quot;] + label span {
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    }

    .color-choose input[type=&amp;quot;radio&amp;quot;]#red + label span {
        background-color: #C91524;
    }

    .color-choose input[type=&amp;quot;radio&amp;quot;]#blue + label span {
        background-color: #314780;
    }

    .color-choose input[type=&amp;quot;radio&amp;quot;]#black + label span {
        background-color: #323232;
    }

    .color-choose input[type=&amp;quot;radio&amp;quot;]:checked + label span {
        background-image: url(images/check-icn.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
/* Cable Configuration */
.cable-choose {
    margin-bottom: 20px;
}

    .cable-choose button {
        border: 2px solid #E1E8EE;
        border-radius: 6px;
        padding: 13px 20px;
        font-size: 14px;
        color: #5E6977;
        background-color: #fff;
        cursor: pointer;
        transition: all .5s;
    }

        .cable-choose button:hover,
        .cable-choose button:active,
        .cable-choose button:focus {
            border: 2px solid #86939E;
            outline: none;
        }

.cable-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

    .cable-config a {
        color: #358ED7;
        text-decoration: none;
        font-size: 12px;
        position: relative;
        margin: 10px 0;
        display: inline-block;
    }

        .cable-config a:before {
            content: &amp;
            quot;
            ?&amp;
            quot;
            ;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            border: 2px solid rgba(53, 142, 215, 0.5);
            display: inline-block;
            text-align: center;
            line-height: 16px;
            opacity: 0.5;
            margin-right: 5px;
        }
/* Product Price */
.product-price {
    display: flex;
    align-items: center;
}

    .product-price span {
        font-size: 20px;
        font-weight: 300;
        color: #43474D;
        margin-right: 20px;
        margin-top: 12px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

.cart-btn {
    display: flex;
    background-color: tomato;
    border-radius: 25px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
    margin-top: 8px;
    justify-content: center;
}

    .cart-btn:hover {
        background-color: white;
        color:tomato;
        border:2px solid tomato;
    }

@media (max-width: 940px) {
    .containerr {
        flex-direction: column;
        margin-top: 60px;
    }

    .left-column,
    .right-column {
        width: 100%;
    }

        .left-column img {
            width: 300px;
            right: 0;
            top: -65px;
            left: initial;
        }
}

@media (max-width: 535px) {
    .left-column img {
        width: 220px;
        top: -85px;
    }
}
.headd {
    margin-top: 0.3rem;
}
.des{
    margin-top:1rem;
    margin-bottom:1rem;
}
.maini{
   display:flex;
   padding:1rem 0;
}
.Contain {
    display: flex;
    height:3rem;
}
    .Contain button {
        background-color: tomato;
        color: white;
        padding: 1rem;
        width: 3rem;
        border: none;
        border-radius: 9px;
        display:flex;
        justify-content:center;
        align-items:center;
        cursor:pointer;
        font-size:1.5rem;
    }
    .Contain button:hover {
        box-shadow:5px 10px 10px #ccc;
    }
.Contain input{
    padding:0.7rem;
    width:5rem;
    font:400 1.3rem "Roboto";
   border:none;
   text-align:center;
   border-radius:9px;
}
.stock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -9rem;
    color: #4bbf4b;
    font-weight: bold;
}
.qtycenter {
    display:flex;
}
#qtyshow {
    border: none;
    background: none;
}
